div#mymodule_block_home p {
  margin-top: 50px;
  font-size: 150%;
  font-style: italic;
  margin-bottom: 50px;
}

/* weather */
/* #mymodule_block_home {
  background: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
} */
